$background-color: hsl(323 21% 16%);

$neon-pink: hsl(317 100% 54%);
$neon-pink-focus: rgba(250, 214, 240, 0.829);

$secondary-pink: rgba(248, 85, 226, 0.815);

$dark-purple: rgba(49, 7, 47, 0.877);
$dark-purple-opacity: rgba(0, 0, 0, .28);

